 .top-bar {
     position: absolute;
     top: 10px;
     right: 20px;
     font-size: 14px;
       
 }

 .top-options {
     display: flex;
     gap: 10px;
     align-items: center;
     margin-right: 50px;
 }
 .top-link {
     color: #F6F8D5;

 }

 .name{
    background-color:#184880;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 1px;
 }
    
    